<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application"
          title="msg://com.company.warehousemanagement/menu.application.title"
          opened="true">

        <!-- =========================
             MASTER DATA
             ========================= -->

        <item view="User.list"
              title="msg://com.company.warehousemanagement.view.user/UserListView.title"/>

        <item view="employeeAssignment-list"
              title="msg://com.company.warehousemanagement.view.employeeassignments/employeeAssignmentListView.title"/>

<!--        <item view="UserWarehouse.list"-->
<!--              title="User Warehouse Access"/>-->

<!--        <item view="UserProductCategory.list"-->
<!--              title="msg://com.company.warehousemanagement.view.userproductcategory/userProductCategoryListView.title"/>-->

        <item view="ProductCategory.list"
              title="msg://com.company.warehousemanagement.view.productcategory/productCategoryListView.title"/>

        <item view="Product.list"
              title="msg://com.company.warehousemanagement.view.product/productListView.title"/>

        <item view="Unit.list"
              title="msg://com.company.warehousemanagement.view.unit/unitListView.title"/>

        <item view="Partner.list"
              title="msg://com.company.warehousemanagement.view.partner/partnerListView.title"/>

        <item view="Warehouse.list"
              title="msg://com.company.warehousemanagement.view.warehouse/warehouseListView.title"/>

        <!-- =========================
             WAREHOUSE TRANSACTIONS
             ========================= -->

        <item view="ImportReceipt.list"
              title="Phiếu nhập kho"/>

        <item view="WarehouseTransaction.exportList"
              title="Phiếu xuất kho"/>

        <item view="WarehouseTransaction.transferList"
              title="Phiếu chuyển kho"/>

        <item view="WarehouseTransaction.adjustmentList"
              title="Phiếu điều chỉnh kho"/>

        <!-- =========================
             INVENTORY
             ========================= -->

        <item view="Inventory.list"
              id="inventoryList"
              title="Tồn kho hiện tại"/>
        <item view="Inventory.stockCard"
              title="Thẻ kho"/>
        <item view="Inventory.report"
              title="Báo cáo tồn kho"/>

    </menu>

</menu-config>
